<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
  </system.diagnostics>
  <system.web>
        
         
    </system.web>
  <appSettings>
    <add key="Main.ConnectionString" value="#{MainConnectionString}" />
    <add key="rootURL" value="#{AhiSiteUrl}" />
    <add key="AHIAPIPORTSETTINGNAME" value="#{AHIAPIPORTSETTINGNAME}" />
    <add key="REGION" value="#{region}" />
    <add key="AHI_VAULT_TESTING1" value="#{AHI_VAULT_TESTING1}" />
  </appSettings>
  <system.codedom>
  </system.codedom>
  <system.webServer>
  </system.webServer>
  <runtime>
  </runtime>
  <system.xml.serialization>
    <dateTimeSerialization mode="Local" />
  </system.xml.serialization>
  <system.serviceModel>
  </system.serviceModel>
  <connectionStrings>
    <add name="db" connectionString="#{connectionString}" />
  </connectionStrings>
</configuration>