<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <configSections>
      
    </configSections>
    <system.diagnostics>
        
        
    </system.diagnostics>
    <system.web>
        
         
    </system.web>
    <appSettings>
        <add key="Main.ConnectionString" value="#{MainConnectionString}" />
        <add key="rootURL" value="#{AhiSiteUrl}" />	
        <add key="SaveSsoTokens" value="#{Test}" />
        <add key="REGION" value="#{REGION}" />
    </appSettings>
    <system.codedom>
        
    </system.codedom>
    <system.webServer>
    </system.webServer>
    <runtime>
    </runtime>
    <system.xml.serialization>
        <dateTimeSerialization mode="Local" />
    </system.xml.serialization>
    <system.serviceModel>
    </system.serviceModel>
    <connectionStrings>
        <add
          name="db"
          connectionString="#{ElmahConnectionString}"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
